body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.heading {
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    margin: 40px;
}

.display-text{
    text-align: center;
    margin: 10px;
    font-size: 25px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 500px;
    border: 2px solid black;
}

.square {
    flex: 1 0 calc(5.75% - 1px);
    border: 1px solid;
}