body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.heading {
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    margin: 40px;
}

.display-text{
    text-align: center;
    margin: 10px;
    font-size: 25px;
}

.container {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 500px;
    border: 2px solid black;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    height: auto;
    flex: 1 0 auto;
    margin: 1px;
}

.column::before {
    content:'';
    float:left;
    padding-top:100%;
}